<%= form_with(model: following, local: true) do |form| %>
  <% if following.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(following.errors.count, "error") %> prohibited this following from being saved:</h2>

      <ul>
      <% following.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :following_user_id %>
  </div>

  <div class="field">
    <%= form.label :home_id %>
    <%= form.number_field :home_id, id: :following_home_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
