<h1>New Conversation</h1>

<%= form_tag conversations_path(user_id: @recipient.id), method: :post do %>
  <div>
    <%= @recipient.email %>
  </div>

  <div>
    <%= text_field_tag :subject, nil, placeholder: "Subject" %>
  </div>

  <div>
    <%= text_area_tag :body, nil, placeholder: "Leave a comment" %>
  </div>

  <%= submit_tag "Send" %>
<% end %>
