<% if current_user.id == notification.recipient_id %>
  <li class='notification-li notification-unread-<%="#{notification.read_at == nil}"%>' id='dropdown-container-<%=notification.id%>'>

    <a class='notification-dropdown-item' id='dropdown-item-<%=notification.id%>'
      href='/notifications/<%=notification.id%>/mark_as_read'>
      <%="#{notification.actor.name} #{notification.action}"%>
      <%= link_to fa_icon("close"), notification, method: :delete, remote: true, class: 'x-button' %>
    </a>
  </li>
<% end %>
