<h2 style="color:black;">Sign up</h2>
<%= form_for(@user) do |f| %>
<div class="row">
  <div class="col-md-12" style="float:right">
    <div class="col-md-7" style="float:left;">
      <%= f.text_field :name, class: 'form-control sign-up', placeholder: 'Name' %>
      <%= f.email_field :email, class: 'form-control sign-up', placeholder: 'Email Address' %>

      <%= f.password_field :password, class: 'form-control sign-up', placeholder: 'Password' %>

      <%= f.password_field :password_confirmation, class: 'form-control sign-up', placeholder: 'Confirm Password' %>
          </div>
      <%= f.submit 'Sign up', class: "btn btn-primary" %>
      <div class="input-group">
      <%= link_to image_tag('brandeis.jpg', size:"32x32")+"Sign up with your Brandeis account", "/auth/google_oauth2", id: "brandeis_sign_in", class: "btn btn-block btn-social btn-brandeis" %>
    </div>
  </div>
</div>
<p>Already have an account? <%= link_to "Log in", login_path, remote: true %></p>
<% end %>
