<% provide(:title, "Show User") %>
<p id="notice"><%= notice %></p>

<ul class="accordion">
  <li>
    <a class="toggle">My Posted Homes</a>
    <ul class="inner">
      <div>
        <% if @user.homes.count > 0 %>
          <% @user.homes.each do |home| %>
            <li><div class="home-wrapper-user">
              <%= render(
                partial: 'homes/home_all',
                locals: { home: home }
              ) %>
              <div class="edit-destroy-wrapper"><strong><%= render(
                partial: 'layouts/edit_destroy',
                locals: { home: home }
              ) %></strong></div>
            </div></li>
          <% end %>
        </div>
        <%= render "layouts/modal" %>
      <% else %>
        <h3>You have not posted any homes yet.</h3>
      <% end %>
    </ul>
  </li>

  <li>
    <a class="toggle">My Followed Homes</a>
    <ul class="inner">
      <% if Following.where(user_id: @user.id).count > 0 %>
        <% Following.where(user_id: @user.id).each do |following| %>
          <div class="home-wrapper-user">
            <%= render(
              partial: 'homes/home_all',
              locals: { home: following.home }
            ) %>
          </div>
        <% end %>
        <%= render "layouts/modal" %>
      <% else %>
        <h3>You are not following any homes yet.</h3>
      <% end %>
    </ul>
  </li>
</ul>

<script type="text/javascript">

  $('.carousel').not('.slick-initialized').slick({
    prevArrow:'<svg class="slick-prev" viewBox="0 0 18 18" role="img" aria-label="Previous" focusable="false" style="height: 24px; width: 24px; display: block; fill: rgb(0, 0, 0);"><path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z" fill-rule="evenodd"></path></svg>',
    nextArrow:'<svg class="slick-next" viewBox="0 0 18 18" role="img" aria-label="Next" focusable="false" style="height: 24px;width: 24px;display: block;fill: rgb(0, 0, 0);"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>'
  });
  $('.photo-notifications').css('margin-left', '20%');
  $('.navbar.navbar-fixed-top').css('z-index', '11')

  $('.toggle').click(function(e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.next().hasClass('show')) {
      $this.next().slideUp(350);
      $('.carousel').slick('setPosition');
    } else {
      $this.next().slideToggle(350);
      $('.carousel').slick('setPosition');
    }
  });
</script>
