<div class="form-container">
  <%= bootstrap_form_for @home, url: wizard_path, :html => { :multipart => true }, class: "center" do |form| %>

    <%= hidden_field_tag :home_id, @home.id %>

    <%= yield form %>

    <div class="actions">
      <%= form.submit "Continue" %>
    </div>

  <% end %>
</div>

<%= link_to 'Exit', homes_path %>
