<%= render layout: 'form', id: "form-ajax-1", remote:true do |form| %>
 <body class ="page2">
   <h1> Rooms </h1>
   <div class ="row">
     <div class = "col-sm-7" id = "rooms7">
  <div class="field">
    <%= form.number_field :available_rooms, id: :home_available_rooms %>
  </div>

  <div class="field">
    <%= form.number_field :total_rooms, id: :home_total_rooms %>
  </div>

  <div class="field">
    <%= form.number_field :total_bathrooms, id: :home_total_bathrooms %>
  </div>

  <div class="field">
    <%= form.number_field :private_bathrooms, id: :home_private_bathrooms %>
  </div>
</div>
<div class = "col-sm-5">
  <%=image_tag("rooms.png", width:600, height:600, id:"rooms_image")%>
</div>
</div>
</body>

<% end %>
