<%= render layout: 'form', id: "form-ajax-1", remote:true do |form| %>
 <body class ="page2">
  <div class="field">
    <%= form.number_field :available_rooms, id: :home_available_rooms %>
  </div>

  <div class="field">
    <%= form.number_field :total_rooms, id: :home_total_rooms %>
  </div>

  <div class="field">
    <%= form.number_field :total_bathrooms, id: :home_total_bathrooms %>
  </div>

  <div class="field">
    <%= form.number_field :private_bathrooms, id: :home_private_bathrooms %>
  </div>
</body>

<button type = "button" id = "photos_new">See and upload photos</button>

<br>
<br>
<div hidden class="photos_show">
<div class="field">
  <%= file_field_tag 'images[]', multiple: true, id: :pictureInput %>
</div>
<div id="target">
</div>
<div id = "photos">
  <p> Saved photos: </p>
  <%= render(
    partial: 'homes/photos',
    locals: { home: @home }
  ) %>
 </div>
 </div>


<br>
<br>
<% end %>
