<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li><%= link_to "Step 2", step2_wizard_path %></li>
  <li class="active">Step 3</li>
  <li>Step 4</li>
</ol>

<%= form_for @home_wizard, as: :home_wizard, url: validate_step_wizard_path do |form| %>
  <% if @home_wizard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_wizard.errors.count, "error") %> prohibited this home from being saved:</h2>
      <ul>
      <% @home_wizard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :current_step, 'step3' %>
  <div class = "row" >
    <div class = "col-sm-2">
    <div class="field">
      <%= form.label :total_rooms %>
      <%= form.number_field :total_rooms, id: :home_total_rooms %>
    </div>
  </div>
  <div class = "col-sm-2">
  </div>
  <div class = "col-sm-2">
    <div class="field">
      <%= form.label :available_rooms %>
      <%= form.text_field :available_rooms, id: :home_available_rooms %>
    </div>
  </div>
  </div>
  <div class = "row" >
    <div class = "col-sm-2">
    <div class="field">
      <%= form.label :total_bathrooms %>
      <%= form.text_field :total_bathrooms, id: :home_total_bathrooms %>
    </div>
  </div>
  <div class = "col-sm-2">
  </div>
  <div class = "col-sm-2">
    <div class="field">
      <%= form.label :private_bathrooms %>
      <%= form.text_field :private_bathrooms, id: :home_private_bathrooms %>
    </div>
  </div>
  </div>
  <div class = "row">
    <div class = "col-sm-2">
    <div class="field">
      <%= form.label :is_furnished, id: :checkbox %>
      <%= form.check_box :is_furnished, id: :home_is_furnished, class: :roundedTwo%>
    </div>
  </div>

  <%= form.submit 'Continue' %>
<% end %>
