<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li class="active">Step 2</li>
  <li>Step 3</li>
  <li>Step 4</li>
</ol>

<%= form_for @home_wizard, as: :home_wizard, url: validate_step_wizard_path do |form| %>
  <% if @home_wizard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_wizard.errors.count, "error") %> prohibited this home from being saved:</h2>
      <ul>
      <% @home_wizard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :current_step, 'step2' %>
  <div class = "row" >
    <div class = "col-sm-2">
    <div class="field">
      <%= form.label :start_date %>
      <%= form.date_select :start_date, id: :home_start_date %>
    </div>
  </div>
  <div class = "col-sm-2">
  </div>
  <div class = "col-sm-2">
    <div class="field">
      <%= form.label :end_date %>
      <%= form.date_select :end_date, id: :home_end_date %>
    </div>
  </div>
  </div>

  <%= form.submit 'Continue' %>
<% end %>
