<div class="field">
  <%= form.label :address %>
  <%= form.text_field :address, id: :home_address %>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.number_field :price, id: :home_price %>
</div>

<div class="field">
  <%= form.label :title %>
  <%= form.text_area :title, id: :home_title %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, id: :home_description %>
</div>

<div class="field">
  <%= form.label :is_furnished, id: :checkbox %>
  <%= form.check_box :is_furnished, id: :home_is_furnished, class: :roundedTwo%>
</div>

<div class="field">
  <%= form.label :capacity %>
  <%= form.number_field :capacity, id: :option_capacity %>
</div>

<div class="field">
  <%= form.label :entire_home %>
  <%= form.check_box :entire_home, id: :option_entire_home %>
</div>

<div class="field">
  <%= form.label :photos %>
  <%= form.file_field :photos, multiple: true %>
</div>
