<div class = "row">
<div class = "col-sm-6">
<p>
  <strong>User:</strong>
  <%= @home.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @home.size %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @home.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @home.end_date %>
</p>

<p>
  <strong>Total bathrooms:</strong>
  <%= @home.total_bathrooms %>
</p>

<p>
  <strong>Private bathrooms:</strong>
  <%= @home.private_bathrooms %>
</p>

<p>
  <strong>Total rooms:</strong>
  <%= @home.total_rooms %>
</p>

<p>
  <strong>Available rooms:</strong>
  <%= @home.available_rooms %>
</p>

<p>
  <strong>Is furnished:</strong>
  <%= @home.is_furnished %>
</p>
</div>
<div class = "col-sm-6">

   <div id="index1" class = "bottom1">
     <%if @home.reviews%>

      <% @home.reviews.each do |review| %>
          <p><%= review.description %> <i> by <%=review.user.name%> </i></p>
      <% end %>
      <%= link_to 'New Review', new_home_review_path(@home) %>
    <%end%>
  </div>
</div>
</div>
