<div class="box" id = <%=home.id%>>
  <div class="row">
    <div class = "col-sm-12">
      <span class = "box-text">
        <span class="title"><%= home.title.titleize %></span> <br>
        <span class="address"><%= home.address %></span> <br>
        <span class="price">$<%= home.price %> per month &bull; </span> <span class="rooms"><%= home.available_rooms %> rooms available</span> <br>
        <span class="available">Available from <%= home.start_date %> to <%= home.end_date %></span> <br>
      </span>
    </div>
  </div>
</div>
