<div id="filterrific_results">
  <div>
    <%= page_entries_info homes %>
  </div>
  <% @homes.each do |home| %>
    <div class="home-wrapper">
      <div class="home-photo-gallery">
        <% if !home.photos.blank? %>
          <%= render(
            partial: 'layouts/image_carousel',
            locals: { home: home }
          ) %>
        <% end %>
      </div>
      <%= link_to home, remote: true, class: "home-link" do %>
        <div class="box" id = <%=home.id%>>
          User: <%= home.user_id %> <br>
          Address: <%= home.address %> <br>
          <div class="row">
            <div class = "col-sm-6">
              Price: <%= home.price %> <br>
            </div>
            <div class = "col-sm-6">
              Size: <%= home.size %><br>
            </div>
          </div>
          <div class="row">
            <div class = "col-sm-6">
              Start date: <%= home.start_date %><br>
            </div>
            <div class = "col-sm-6">
              End date: <%= home.end_date %><br>
            </div>
          </div>
        </div>
        <% end %>
        <div class="home-buttons">
          <div class="send-message">
            <%= link_to "Send Message", new_conversation_path(recipient_id: home.user_id, home_address: home.address), class: "btn home-button send" %>
          </div>
          <div class="get-notifications">
            <%= link_to "Get Notifications", nil, class: "btn home-button notify" %>
          </div>
        </div>
      </div>
    <% end %>
  <%= will_paginate @homes %>
</div>
<%= render "layouts/modal" %>
