<div id="filterrific_results">

  <div>
    <%= page_entries_info homes %>
  </div>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Address</th>
        <th>Price</th>
        <th>Description</th>
        <th>Size</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Total rooms</th>
        <th>Available rooms</th>
        <th>Total bathrooms</th>
        <th>Private bathrooms</th>
        <th>Is furnished</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @homes.each do |home| %>
        <tr>
          <td><%= home.user_id %></td>
          <td><%= home.address %></td>
          <td><%= home.price %></td>
          <td><%= home.description %></td>
          <td><%= home.size %></td>
          <td><%= home.start_date %></td>
          <td><%= home.end_date %></td>
          <td><%= home.total_rooms %></td>
          <td><%= home.available_rooms %></td>
          <td><%= home.total_bathrooms %></td>
          <td><%= home.private_bathrooms %></td>
          <td><%= home.is_furnished %></td>
          <td><%= link_to 'Show', home %></td>
          <td><%= link_to 'Edit', edit_home_path(home) %></td>
          <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate homes %>
