<div id="filterrific_results">
  <div>
    <%= page_entries_info homes %>
  </div>
  <% @homes.each do |home| %>
    <div class="home-wrapper">
      <%= render(
        partial: 'homes/home_all',
        locals: { home: home }
      ) %>
      <div class="home-buttons">
        <div class="send-message">
          <%= link_to(raw("Send Message <i class='fa fa-paper-plane'></i>"), private_topic_path(recipient_id: home.user_id, home_address: home.address), class: "btn btn-primary home-button send") %>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate @homes, remote: true %>
  <br>
</div>
<%= render "layouts/modal" %>
