<div id="filterrific_results">
  <div>
    <%= page_entries_info homes %>
  </div>
  <% @homes.each do |home| %>
    <%= link_to home, remote: true do %>
      <div class="box" id = <%=home.id%>>
        User: <%= home.user_id %> <br>
        Address: <%= home.address %> <br>
        <div class="row">
          <div class = "col-sm-6">
            Price: <%= home.price %> <br>
          </div>
          <div class = "col-sm-6">
            Size: <%= home.size %><br>
          </div>
        </div>
        <div class="row">
          <div class = "col-sm-6">
            Start date: <%= home.start_date %><br>
          </div>
          <div class = "col-sm-6">
            End date: <%= home.end_date %><br>
          </div>
        </div>
      </div>
    <% end %>
    <div class="send-message">
      <%= link_to "Send Message", new_conversation_path(recipient_id: home.user_id), class: "btn send-message" %>
      <%if logged_in?&&current_user.id == home.user_id %>
        <%= link_to 'Edit', edit_home_path(home) %>
        <%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>
  <% end %>
</div>
<%= render "layouts/modal" %>
