<div id="filterrific_results">

  <div>
    <%= page_entries_info homes %>
  </div>


      <% @homes.each do |home| %>

          <div class="box" id = <%=home.id%>>
          User: <%= home.user_id %> <br>


          <p Address: <%= home.address %> <br>

        <div class="row">
          <div class = "col-sm-6">
          Price: <%= home.price %> <br>
        </div>
        <div class = "col-sm-6">

          Size: <%= home.size %><br>
        </div>
      </div>
      <div class="row">
        <div class = "col-sm-6">
          Start date: <%= home.start_date %><br>
        </div>
        <div class = "col-sm-6">
          End date: <%= home.end_date %><br>
        </div>
      </div>
        </p>
        <p id="options">
          <p><%= link_to 'Show', home, remote: true, class: "show2", id: home.id.to_s+'a'%></p>
          <p><%= link_to 'Add review', new_home_review_path(home.id), class: "show2", id: home.id.to_s+'b'%> </p>
          <%if logged_in?&&current_user.id == home.user_id %>
          <%= link_to 'Edit', edit_home_path(home) %>
          <%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %>

          <%end%>
        </p>
        </div>

      <% end %>

</div>
<%= render "layouts/modal" %>
