<% provide(:title, "Homes") %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1>Homes</h1>
</div>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  <div>
    Price:
    <%= f.fields_for :with_price_range, OpenStruct.new(@filterrific.with_price_range) do |with_price_fields| %>
      Min<%= with_price_fields.text_field :min_price %>
      Max<%= with_price_fields.text_field :max_price %>
    <% end %>
  </div>
  <div>
    Availability:
    <%= f.fields_for :with_availability_range, OpenStruct.new(@filterrific.with_availability_range) do |with_availability_fields| %>
      Start<%= with_availability_fields.date_field(:start_date, include_blank: true, start_year: Date.today.year) %>
      End<%= with_availability_fields.date_field(:end_date, include_blank: true, start_year: Date.today.year) %>
    <% end %>
  </div>
  <div>
    Total rooms:
    <%= f.fields_for :with_total_rooms_range, OpenStruct.new(@filterrific.with_total_rooms_range) do |with_total_rooms_fields| %>
      Min<%= with_total_rooms_fields.text_field :min_rooms %>
      Max<%= with_total_rooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Rooms available:
    <%= f.fields_for :with_available_rooms_range, OpenStruct.new(@filterrific.with_available_rooms_range) do |with_available_rooms_fields| %>
      Min<%= with_available_rooms_fields.text_field :min_rooms %>
      Max<%= with_available_rooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Total bathrooms:
    <%= f.fields_for :with_total_bathrooms_range, OpenStruct.new(@filterrific.with_total_bathrooms_range) do |with_total_bathrooms_fields| %>
      Min<%= with_total_bathrooms_fields.text_field :min_rooms %>
      Max<%= with_total_bathrooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Private bathrooms:
    <%= f.fields_for :with_private_bathrooms_range, OpenStruct.new(@filterrific.with_private_bathrooms_range) do |with_private_bathrooms_fields| %>
      Min<%= with_private_bathrooms_fields.text_field :min_rooms %>
      Max<%= with_private_bathrooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Furnished
    <%= f.select(
      :with_is_furnished,
      @filterrific.select_options[:with_is_furnished],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%= f.submit 'Filter' %>
<% end %>

<%= render(
  partial: 'homes/list',
  locals: { homes: @homes }
) %>

<%= link_to 'New Home', new_home_path %>
