<script src="//maps.google.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<script src='//cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker-compiled.js' type='text/javascript'></script>

<% provide(:title, "Homes") %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <h1>Homes</h1>
</div>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  Price:
  <div id="price_slider">
  </div>
  <span id="min_price_label"><%= @min %></span>
  <span id="max_price_label"><%= @max %></span>
  <div>
    <%= f.fields_for :with_price_range, OpenStruct.new(@filterrific.with_price_range) do |with_price_fields| %>
      <%= with_price_fields.hidden_field :min_price, id: "min_price" %>
      <%= with_price_fields.hidden_field :max_price, id: "max_price" %>
    <% end %>
  </div>
  <div>
    Availability:
    <%= f.fields_for :with_availability_range, OpenStruct.new(@filterrific.with_availability_range) do |with_availability_fields| %>
      Start<%= with_availability_fields.date_field(:start_date, include_blank: true, start_year: Date.today.year) %>
      End<%= with_availability_fields.date_field(:end_date, include_blank: true, start_year: Date.today.year) %>
    <% end %>
  </div>
  <div>
    Total rooms:
    <%= f.fields_for :with_total_rooms_range, OpenStruct.new(@filterrific.with_total_rooms_range) do |with_total_rooms_fields| %>
      Min<%= with_total_rooms_fields.text_field :min_rooms %>
      Max<%= with_total_rooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Rooms available:
    <%= f.fields_for :with_available_rooms_range, OpenStruct.new(@filterrific.with_available_rooms_range) do |with_available_rooms_fields| %>
      Min<%= with_available_rooms_fields.text_field :min_rooms %>
      Max<%= with_available_rooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Total bathrooms:
    <%= f.fields_for :with_total_bathrooms_range, OpenStruct.new(@filterrific.with_total_bathrooms_range) do |with_total_bathrooms_fields| %>
      Min<%= with_total_bathrooms_fields.text_field :min_rooms %>
      Max<%= with_total_bathrooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Private bathrooms:
    <%= f.fields_for :with_private_bathrooms_range, OpenStruct.new(@filterrific.with_private_bathrooms_range) do |with_private_bathrooms_fields| %>
      Min<%= with_private_bathrooms_fields.text_field :min_rooms %>
      Max<%= with_private_bathrooms_fields.text_field :max_rooms %>
    <% end %>
  </div>
  <div>
    Furnished
    <%= f.select(
      :with_is_furnished,
      @filterrific.select_options[:with_is_furnished],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%= f.submit 'Filter' %>
<% end %>

<%= render(
  partial: 'homes/list',
  locals: { homes: @homes }
) %>

<%= link_to 'New Home', new_home_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<p hidden id="hidden" data-min="<%= @min %>" data-max="<%= @max %>" />

<script type="text/javascript">
  buildMap(<%=raw @hash.to_json %>);
</script>
