<% provide(:title, "New Home") %>
<h1>New Home</h1>
<body class = "label_first">
<%= bootstrap_form_for @home, :html => { :multipart => true } do |form| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:</h2>
      <ul>
      <% @home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :address, id: :home_address %>
  </div>


  <div class="field">
    <%= form.number_field :price, id: :home_price %>
  </div>

  <div class="field">
    <%= form.text_area :title, id: :home_title %>
  </div>

  <div class="field">
    <%= form.text_area :description, id: :home_description %>
  </div>

  <div class="field">
    <%= form.form_group :is_furnished, label: { text: "Is furnished?" } do %>
  <%= form.radio_button :is_furnished, true, label: "Yes", inline: true %>
  <br>
  <%= form.radio_button :is_furnished, false, label: " No", inline: true %>
  <% end %>

  </div>
  <div class="field">
    <%= form.number_field :capacity, id: :option_capacity %>
  </div>

  <div class="field">
    <%= form.form_group :entire_home, label: { text: "Entire home" } do %>
  <%= form.radio_button :entire_home, true, label: "Yes", inline: true %>
  <br>
  <%= form.radio_button :entire_home, false, label: " No", inline: true %>
<% end %>


  </div>

<br>
<br>
  <div class="actions">
    <%= form.submit "Continue" %>
  </div>
<% end %>

<%= link_to 'Back', homes_path %>

</body>
