<% provide(:title, "Show Home") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @home.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @home.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @home.end_date %>
</p>

<p>
  <strong>Total bathrooms:</strong>
  <%= @home.total_bathrooms %>
</p>

<p>
  <strong>Private bathrooms:</strong>
  <%= @home.private_bathrooms %>
</p>

<p>
  <strong>Total rooms:</strong>
  <%= @home.total_rooms %>
</p>

<p>
  <strong>Available rooms:</strong>
  <%= @home.available_rooms %>
</p>

<p>
  <strong>Is furnished:</strong>
  <%= @home.is_furnished %>
</p>
<p>
  <%@home.photos.each do |photo|%>
<%= image_tag photo.image.url(:square) %>
<%end%>
<br>
<br>
<%if @home.option %>

</p>

<p>
  <strong>Free parking:</strong>
  <%= @home.option.free_parking %>
</p>

<p>
  <strong>Street parking:</strong>
  <%= @home.option.street_parking %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @home.option.deposit %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @home.option.broker %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @home.option.pets %>
</p>

<p>
  <strong>Heated:</strong>
  <%= @home.option.heated %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @home.option.ac %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @home.option.tv %>
</p>

<p>
  <strong>Dryer:</strong>
  <%= @home.option.dryer %>
</p>

<p>
  <strong>Dish washer:</strong>
  <%= @home.option.dish_washer %>
</p>

<p>
  <strong>Fireplace:</strong>
  <%= @home.option.fireplace %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @home.option.kitchen %>
</p>

<p>
  <strong>Garbage disposal:</strong>
  <%= @home.option.garbage_disposal %>
</p>

<p>
  <strong>Wireless:</strong>
  <%= @home.option.wireless %>
</p>

<p>
  <strong>Lock:</strong>
  <%= @home.option.lock %>
</p>

<p>
  <strong>Elevator:</strong>
  <%= @home.option.elevator %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @home.option.pool %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @home.option.gym %>
</p>

<p>
  <strong>Wheelchair:</strong>
  <%= @home.option.wheelchair %>
</p>

<p>
  <strong>Hot tub:</strong>
  <%= @home.option.hot_tub %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @home.option.smoking %>
</p>

<p>
  <strong>Events:</strong>
  <%= @home.option.events %>
</p>

<p>
  <strong>Subletting:</strong>
  <%= @home.option.subletting %>
</p>

<p>
  <strong>Utilities included:</strong>
  <%= @home.option.utilities_included %>
</p>

<p>
  <strong>Water price:</strong>
  <%= @home.option.water_price %>
</p>

<p>
  <strong>Heat price:</strong>
  <%= @home.option.heat_price %>
</p>

<p>
  <strong>Closet:</strong>
  <%= @home.option.closet %>
</p>

<p>
  <strong>Porch:</strong>
  <%= @home.option.porch %>
</p>

<p>
  <strong>Lawn:</strong>
  <%= @home.option.lawn %>
</p>

<p>
  <strong>Patio:</strong>
  <%= @home.option.patio %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @home.option.storage %>
</p>

<p>
  <strong>Refrigerator:</strong>
  <%= @home.option.refrigerator %>
</p>

<p>
  <strong>Stove:</strong>
  <%= @home.option.stove %>
</p>

<p>
  <strong>Microwave:</strong>
  <%= @home.option.microwave %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @home.option.laundry %>
</p>

<p>
  <strong>Laundry free:</strong>
  <%= @home.option.laundry_free %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @home.option.bike %>
</p>

<p>
  <strong>Soundproof:</strong>
  <%= @home.option.soundproof %>
</p>

<p>
  <strong>Intercom:</strong>
  <%= @home.option.intercom %>
</p>

<p>
  <strong>Gated:</strong>
  <%= @home.option.gated %>
</p>

<p>
  <strong>Doorman:</strong>
  <%= @home.option.doorman %>
</p>
<%end%>
<%= render(
  partial: 'layouts/edit_destroy',
  locals: { home: @home }
) %>
<%= link_to 'Back', homes_path %>
