<% provide(:title, "Show Home") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @home.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @home.size %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @home.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @home.end_date %>
</p>

<p>
  <strong>Total bathrooms:</strong>
  <%= @home.total_bathrooms %>
</p>

<p>
  <strong>Private bathrooms:</strong>
  <%= @home.private_bathrooms %>
</p>

<p>
  <strong>Total rooms:</strong>
  <%= @home.total_rooms %>
</p>

<p>
  <strong>Available rooms:</strong>
  <%= @home.available_rooms %>
</p>

<p>
  <strong>Is furnished:</strong>
  <%= @home.is_furnished %>
</p>
<p>

  <strong>Size of house:</strong>
  <%= @option.size_of_house %>
  
</p>

<p>
  <strong>Capacity:</strong>
  <%= @option.capacity %>
</p>

<p>
  <strong>Free parking:</strong>
  <%= @option.free_parking %>
</p>

<p>
  <strong>Street parking:</strong>
  <%= @option.street_parking %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @option.deposit %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @option.broker %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @option.pets %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @option.beds %>
</p>

<p>
  <strong>Heated:</strong>
  <%= @option.heated %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @option.ac %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @option.tv %>
</p>

<p>
  <strong>Dryer:</strong>
  <%= @option.dryer %>
</p>

<p>
  <strong>Dish washer:</strong>
  <%= @option.dish_washer %>
</p>

<p>
  <strong>Fireplace:</strong>
  <%= @option.fireplace %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @option.kitchen %>
</p>

<p>
  <strong>Garbage disposal:</strong>
  <%= @option.garbage_disposal %>
</p>

<p>
  <strong>Wireless:</strong>
  <%= @option.wireless %>
</p>

<p>
  <strong>Lock:</strong>
  <%= @option.lock %>
</p>

<p>
  <strong>Elevator:</strong>
  <%= @option.elevator %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @option.pool %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @option.gym %>
</p>

<p>
  <strong>Wheelchair:</strong>
  <%= @option.wheelchair %>
</p>

<p>
  <strong>Hot tub:</strong>
  <%= @option.hot_tub %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @option.smoking %>
</p>

<p>
  <strong>Events:</strong>
  <%= @option.events %>
</p>

<p>
  <strong>Subletting:</strong>
  <%= @option.subletting %>
</p>

<p>
  <strong>Utilities included:</strong>
  <%= @option.utilities_included %>
</p>

<p>
  <strong>Water price:</strong>
  <%= @option.water_price %>
</p>

<p>
  <strong>Heat price:</strong>
  <%= @option.heat_price %>
</p>

<p>
  <strong>Closet:</strong>
  <%= @option.closet %>
</p>

<p>
  <strong>Porch:</strong>
  <%= @option.porch %>
</p>

<p>
  <strong>Lawn:</strong>
  <%= @option.lawn %>
</p>

<p>
  <strong>Patio:</strong>
  <%= @option.patio %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @option.storage %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @option.floors %>
</p>

<p>
  <strong>Refrigerator:</strong>
  <%= @option.refrigerator %>
</p>

<p>
  <strong>Stove:</strong>
  <%= @option.stove %>
</p>

<p>
  <strong>Microwave:</strong>
  <%= @option.microwave %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @option.laundry %>
</p>

<p>
  <strong>Laundry free:</strong>
  <%= @option.laundry_free %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @option.bike %>
</p>

<p>
  <strong>Soundproof:</strong>
  <%= @option.soundproof %>
</p>

<p>
  <strong>Intercom:</strong>
  <%= @option.intercom %>
</p>

<p>
  <strong>Gated:</strong>
  <%= @option.gated %>
</p>

<p>
  <strong>Doorman:</strong>
  <%= @option.doorman %>
</p>

<p>
  <strong>House:</strong>
  <%= @option.house %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @option.apartment %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
