<% provide(:title, "Saved Searches") %>
<p id="notice"><%= notice %></p>
<h1>My Saved Searches</h1>
<table>
  <thead>
    <tr>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.created_at %></td>

        <td><%= link_to 'Show', ('homes?'+(JSON.parse(search.details).to_query)) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
