<p id="notice"><%= notice %></p>

<h1>User Chats</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Chat</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_chats.each do |user_chat| %>
      <tr>
        <td><%= user_chat.user_id %></td>
        <td><%= user_chat.chat_id %></td>
        <td><%= user_chat.read %></td>
        <td><%= link_to 'Show', user_chat %></td>
        <td><%= link_to 'Edit', edit_user_chat_path(user_chat) %></td>
        <td><%= link_to 'Destroy', user_chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Chat', new_user_chat_path %>
