
<% provide(:title, "Creating product") %>


<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
</div>
  <% end %>






<body>
<div class="row">
    <div class = "col-sm-4">
      <div class="field">
       <%= form.label :user_id %><br>
       <%= form.number_field :user_id, id: :product_user_id, :placeholder => 'Enter user id'%>
     </div>
     </div>


<div class = "col-sm-4">
  <div class="field">
    <%= form.label :address %><br>
    <%= form.text_field :address, id: :product_address, :placeholder => 'Enter address'%>
  </div>
</div>
</div>

<div class="row">
  <div class = "col-sm-4">
  <div class="field">
    <%= form.label :price %><br>
    <%= form.text_field :price, id: :product_price, :placeholder => 'Enter price'%>
  </div>
  </div>

<div class = "col-sm-4">

  <div class="field">
    <%= form.label :size %><br>
    <%= form.number_field :size, id: :product_size, class: "form_control", :placeholder => 'Enter size'  %>
  </div>
</div>
</div>
<div class="row">
  <div class = "col-sm-4">
  <div class="field">
    <%= form.label :start_date %><br>
    <%= form.date_select :start_date, id: :product_start_date %>
  </div>
</div>
<div class = "col-sm-4">
  <div class="field">
    <%= form.label :end_date %><br>
    <%= form.date_select :end_date, id: :product_end_date %>
  </div>
</div>
</div>
<div class="row">

<div class = "col-sm-4">
  <div class="field">
    <%= form.label :bathrooms %><br>
    <%= form.text_field :bathrooms, id: :product_bathrooms  %>
  </div>

</div>
<div class = "col-sm-4">
  <div class="field">
    <%= form.label :total_rooms %><br>
    <%= form.number_field :total_rooms, id: :product_total_rooms %>
  </div>
</div>
</div>
<div class="row">

<div class = "col-sm-4">

  <div class="field">
    <%= form.label :is_furnished %>
    <%= form.check_box :is_furnished, id: :product_is_furnished %>
  </div>
</div>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>



<% end %>
</body>
