<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @product.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @product.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @product.end_date %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @product.bathrooms %>
</p>

<p>
  <strong>Total rooms:</strong>
  <%= @product.total_rooms %>
</p>

<p>
  <strong>Rooms available:</strong>
  <%= @product.rooms_available %>
</p>

<p>
  <strong>Is furnished:</strong>
  <%= @product.is_furnished %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
