<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :home_id %>
    <%= form.number_field :home_id, id: :review_home_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :review_user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :review_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
