<p id="notice"><%= notice %></p>

<p>
  <strong>Home:</strong>
  <%= @review.home_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<%= link_to 'Edit', edit_home_review_path(@review.home_id,@review.id) %> |
<%= link_to 'Back', home_reviews_path(@review.home_id) %>
