<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <%= link_to main_app.root_path, class: "logo-link" do %>
        <div class="col-sm-1">
          <%=image_tag "home.png", alt:"Home logo", class:"logo"%>
        </div>
        <div class="col-sm-5">
          <span id="logo"> Off Campus </span>
        </div>
      <% end %>
      <div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="thredded--user-navigation--item"><%= link_to "Find a Home",  main_app.root_path %></li>
            <li class="thredded--user-navigation--item"> <%= link_to "Forum", main_app.forum_path %> </li>
            <li class="thredded--user-navigation--item"><%= link_to "Post a Home", main_app.new_home_path %></li>
            <% if logged_in? %>
              <li class="dropdown-1 thredded--user-navigation--item" data-behavior="notifications">
                <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" >
                  <%= fa_icon "bell", id: "bell-icon" %>
                  <%= count(current_user) %>
                  <script>
                    var pusher = new Pusher('<%=ENV["PUSHER_KEY"]%>', {
                      encrypted: true
                    });
                    var channel = pusher.subscribe('count-<%= current_user.id %>');
                    channel.bind('notification_event', function(data) {
                      var elt = $("#unread");
                      elt.show();
                    	if (elt[0] != null) {
                        elt[0].innerHTML = data.count;
                      }
                      if(data.count == 0) {
                        $("#unread").hide();
                      } else {
                        $("#no-notifications").hide();
                      }
                    });
                    channel.bind('inbox_event', function(data) {
                      var elt = $("#unread-inbox");
                      elt.show();
                    	if (elt[0] != null) {
                        elt[0].innerHTML = data.count;
                      }
                      if(data.count == 0) {
                        $("#unread-inbox").hide();
                      } else {
                        $("#no-notifications").hide();
                      }
                    });
                  </script>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" data-behavior="notification-items">
                </ul>
            </li>

              <li class="thredded--user-navigation--item"><%= link_to "Inbox", '/forum/private-topics' %><span id="inbox-number"></span></li>
              <li class="dropdown thredded--user-navigation--item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name[0] + current_user.name.split(' ')[1][0] rescue current_user.name[0] %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu user">
                  <li class="thredded--user-navigation--item"><%= link_to "My Homes", current_user %></li>
                  <li class="thredded--user-navigation--item"><%= link_to "Notification Settings", '/forum/preferences/edit' %></li>
                  <!-- <li class="thredded--user-navigation--item"><%= link_to "Edit Profile", main_app.edit_user_path(current_user) %></li>
                  <li class="thredded--user-navigation--item"><%= link_to "Saved Searches", main_app.searches_path %></li> -->
                  <li class="divider"></li>
                  <li class="thredded--user-navigation--item">
                    <%= link_to "Log out", main_app.logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="thredded--user-navigation--item"><%= link_to "Log in", main_app.login_path %></li>
              <li class="thredded--user-navigation--item"><%= link_to "Sign up", main_app.signup_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<hr>
