<% if logged_in? %>
  <div class="photo-notifications">
    <%= link_to_toggle_post_favorite(home) %>
  </div>
<% end %>
<div class="carousel">
  <% if !home.photos.blank? %>
    <% home.photos.each do |photo| %>
      <div class="photo-container">

        <%= link_to home, remote: true, class: "home-link" do %>
          <%= image_tag photo.photo.url(:square), class: "home-photo", id: home.id %>
        <% end %>


      </div>
    <% end %>
  <% else %>
  <div class="photo-container">
    <%= link_to home, remote: true, class: "home-link" do %>
      <%= image_tag "home.png", class: "home-photo", id: home.id %>
    <% end %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').not('.slick-initialized').slick();
  });
</script>
