<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <script src='//maps.google.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&libraries=places&sensor=false'></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= include_sync_config %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div>
      <% flash.each do |message_type, message| %>
        <% if message_type!="notice" %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
  $('.dropdown').on({
    "shown.bs.dropdown": function() { },
    "click":             function() { },
    "hide.bs.dropdown":  function() {
      return false;
    }
  });
  $('.dropdown-toggle').on({
    "click": function() {
      var clicked = $(this).parent();
      $('.dropdown').each(function( a, dropped ) {
        if (dropped != clicked[0]) {
          $(dropped).children('.dropdown-menu').hide();
        }
      });
      $(this).siblings(".dropdown-menu").toggle();
    }
  })
</script>
